### 必要なものをインポートする

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### CSVを読み込む

In [2]:
df_csv = pd.read_csv("samp01.csv", encoding="shift-jis")

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (0,3,4,5,6,12,13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
display(df_csv.head())

,番号,日付,時間,us,CH1,CH2,CH3,CH4,CH5,CH6,CH7,CH8,Pulse1,Pulse2,Pulse3,Pulse4,Alarm,AlarmOut
0,NO.,Date,Time,us,V,V,V,NaN,NaN,NaN,NaN,NaN,C,C,NaN,NaN,NaN,NaN
1,1,2023/03/02,15:19:01,000000,+0.036,+0.07,+0.017,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
2,2,2023/03/02,15:19:01,001000,+0.036,+0.07,+0.017,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
3,3,2023/03/02,15:19:01,002000,+0.041,+0.08,+0.021,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
4,4,2023/03/02,15:19:01,003000,+0.041,+0.07,+0.026,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL

### ０行目イラね

In [4]:
df_csv.drop(0, inplace=True)

In [5]:
display(df_csv.head())

,番号,日付,時間,us,CH1,CH2,CH3,CH4,CH5,CH6,CH7,CH8,Pulse1,Pulse2,Pulse3,Pulse4,Alarm,AlarmOut
1,1,2023/03/02,15:19:01,000000,+0.036,+0.07,+0.017,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
2,2,2023/03/02,15:19:01,001000,+0.036,+0.07,+0.017,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
3,3,2023/03/02,15:19:01,002000,+0.041,+0.08,+0.021,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
4,4,2023/03/02,15:19:01,003000,+0.041,+0.07,+0.026,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL
5,5,2023/03/02,15:19:01,004000,+0.038,+0.07,+0.012,****,****,****,****,****,+0,+0,****,****,LLLLLLLLLLLLLLLL,LLLL

In [6]:
display(df_csv.tail())

,番号,日付,時間,us,CH1,CH2,CH3,CH4,CH5,CH6,CH7,CH8,Pulse1,Pulse2,Pulse3,Pulse4,Alarm,AlarmOut
380977,380977,2023/03/02,15:25:21,976000,11.942,23.99,0.016,****,****,****,****,****,0,242,****,****,LLLLLLLLLLLLLLLL,LLLL
380978,380978,2023/03/02,15:25:21,977000,11.936,23.97,0.021,****,****,****,****,****,0,242,****,****,LLLLLLLLLLLLLLLL,LLLL
380979,380979,2023/03/02,15:25:21,978000,11.944,23.99,0.02,****,****,****,****,****,0,242,****,****,LLLLLLLLLLLLLLLL,LLLL
380980,380980,2023/03/02,15:25:21,979000,11.947,23.98,0.015,****,****,****,****,****,0,242,****,****,LLLLLLLLLLLLLLLL,LLLL
380981,380981,2023/03/02,15:25:21,980000,11.942,23.98,0.019,****,****,****,****,****,0,242,****,****,LLLLLLLLLLLLLLLL,LLLL

### 不要な列を消す

In [7]:
df_csv.drop(['番号', '日付', '時間', 'us', 'CH4', 'CH5', 'CH6', 'CH7', 'CH8', 'Pulse1', 'Pulse3', 'Pulse4', 'Alarm', 'AlarmOut'], axis=1, inplace=True)

In [8]:
display(df_csv.head())

      CH1    CH2     CH3 Pulse2
1  +0.036  +0.07  +0.017     +0
2  +0.036  +0.07  +0.017     +0
3  +0.041  +0.08  +0.021     +0
4  +0.041  +0.07  +0.026     +0
5  +0.038  +0.07  +0.012     +0

### アヤシイのでデータ型を見る

In [9]:
df_csv.dtypes

CH1       object
CH2       object
CH3       object
Pulse2    object
dtype: object

### 型をフロートにする

In [10]:
df_csv = df_csv.astype(np.float64)
df_csv.dtypes
display(df_csv.head())

     CH1   CH2    CH3  Pulse2
1  0.036  0.07  0.017     0.0
2  0.036  0.07  0.017     0.0
3  0.041  0.08  0.021     0.0
4  0.041  0.07  0.026     0.0
5  0.038  0.07  0.012     0.0

### データの数は…

In [11]:
df_csv.count()

CH1       380981
CH2       380981
CH3       380981
Pulse2    380981
dtype: int64

In [12]:
vc = df_csv['CH1'].value_counts()
print(vc)
print(type(vc))

11.804    16681
11.820    11448
11.798    11435
11.809    10713
11.836    10315
          ...
11.585        1
9.087         1
10.716        1
1.377         1
0.250         1
Name: CH1, Length: 324, dtype: int64
<class 'pandas.core.series.Series'>

### CH1_int～CH3_intを用意してそれを0-1に使う

In [13]:
df_csv["CH1_int"] = df_csv["CH1"]
df_csv.loc[df_csv.CH1_int < 1, "CH1_int"] = 0
df_csv.loc[df_csv.CH1_int >= 1, "CH1_int"] = 1
df_csv["CH2_int"] = df_csv["CH2"]
df_csv.loc[df_csv.CH2_int < 1, "CH2_int"] = 0
df_csv.loc[df_csv.CH2_int >= 1, "CH2_int"] = 1
df_csv["CH3_int"] = df_csv["CH3"]
df_csv.loc[df_csv.CH3_int < 1, "CH3_int"] = 0
df_csv.loc[df_csv.CH3_int >= 1, "CH3_int"] = 1

### 0-1に分けたものの数を数えてみる。

In [14]:
vc = df_csv['CH1_int'].value_counts()
print(vc)
print(type(vc))
vc2 = df_csv['CH2_int'].value_counts()
print(vc2)
print(type(vc2))
vc3 = df_csv['CH3_int'].value_counts()
print(vc3)
print(type(vc3))

1.0    369832
0.0     11149
Name: CH1_int, dtype: int64
<class 'pandas.core.series.Series'>
1.0    369844
0.0     11137
Name: CH2_int, dtype: int64
<class 'pandas.core.series.Series'>
0.0    380981
Name: CH3_int, dtype: int64
<class 'pandas.core.series.Series'>

### カウンタ変数を用意する

In [15]:
CH1_CNT = 0
CH2_CNT = 0
CH3_CNT = 0

### 行と列を指定した要素の取り出し方を見る

In [16]:
df_csv['CH1']
df_csv.loc[1,'CH1']

0.036

### 繰り返し回数をNUMに入れておく

In [17]:
NUM = df_csv['CH1'].count()
NUM

380981

### NUM回繰り返し。1V未満→1V超の変化を見つけるとカウントアップ。

In [18]:
for cnt in range(NUM):
    now = df_csv.loc[(1+cnt),'CH1_int']
    nxt = df_csv.loc[(2+cnt),'CH1_int']
    
    if (now == 0) and (nxt == 1):
        CH1_CNT += 1
        
    now = df_csv.loc[(1+cnt),'CH2_int']
    nxt = df_csv.loc[(2+cnt),'CH2_int']
    
    if (now == 0) and (nxt == 1):
        CH2_CNT += 1
        
    now = df_csv.loc[(1+cnt),'CH3_int']
    nxt = df_csv.loc[(2+cnt),'CH3_int']
    
    if (now == 0) and (nxt == 1):
        CH3_CNT += 1
        
    if (cnt + 2) >= NUM:
        break

### 以下は各CHのカウント数

In [19]:
CH1_CNT

111

In [20]:
CH2_CNT

111

In [21]:
CH3_CNT

0

### ここではCH1とCH2は回数同じで、111回のカウントがあった事が判る。